body {
    background-color:rgb(0, 0, 0);
    background-image:url(backrrr.jpg);
    background-size:cover;
    
    
}




h1 {
 
    color:DarkOrchid;

}




h2 {  
   
    color:DarkViolet;
   
}


h3 {
    
color:rgb(255, 0, 255);



    
}